@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Vazirmatn';
  src: url('/assets/fonts/Vazirmatn/Vazirmatn-Medium.ttf');
}
@keyframes swingInBack {
  0% {
    opacity: 0;
    transform: rotateX(70deg);
    transform-origin: top;
  }

  100% {
    opacity: 1;
    transform: rotateX(0deg);
    transform-origin: top;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  direction: rtl;
  font-size: 15px;
}
body {
  font-family: 'Vazirmatn';
}
